
.parallax-bg {
    /* The image used */
    /*background-color: red; */
    background-image: url("../../img/bg.jpg");

    /* Set a specific height */
    min-width: 100%;
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
